*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
body {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0px;
    background-color: black;
    color: white;
    cursor: none;
    overflow-x: hidden;
}
/* Background*/
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000000;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 2vmin;
    height: 2vmin;
    border-radius: 2vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 22;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #ffffff;
    top: 95%;
    left: 42%;
    animation-duration: 68s;
    animation-delay: -8s;
    transform-origin: 3vw 7vh;
    box-shadow: 4vmin 0 1.4899307293901884vmin currentColor;
}
.background span:nth-child(1) {
    color: #ffffff;
    top: 26%;
    left: 59%;
    animation-duration: 224s;
    animation-delay: -165s;
    transform-origin: -7vw 15vh;
    box-shadow: 4vmin 0 0.9908739251114622vmin currentColor;
}
.background span:nth-child(2) {
    color: #c47373;
    top: 53%;
    left: 20%;
    animation-duration: 74s;
    animation-delay: -269s;
    transform-origin: 24vw 10vh;
    box-shadow: -4vmin 0 1.2909887523086263vmin currentColor;
}
.background span:nth-child(3) {
    color: #c47373;
    top: 85%;
    left: 12%;
    animation-duration: 285s;
    animation-delay: -181s;
    transform-origin: -19vw -13vh;
    box-shadow: 4vmin 0 1.317943449104022vmin currentColor;
}
.background span:nth-child(4) {
    color: #c23838;
    top: 98%;
    left: 44%;
    animation-duration: 58s;
    animation-delay: -276s;
    transform-origin: -20vw -15vh;
    box-shadow: -4vmin 0 1.414391137335123vmin currentColor;
}
.background span:nth-child(5) {
    color: #ffffff;
    top: 54%;
    left: 90%;
    animation-duration: 239s;
    animation-delay: -96s;
    transform-origin: 15vw -23vh;
    box-shadow: -4vmin 0 0.8988971286922225vmin currentColor;
}
.background span:nth-child(6) {
    color: #c23838;
    top: 18%;
    left: 96%;
    animation-duration: 29s;
    animation-delay: -52s;
    transform-origin: 20vw 19vh;
    box-shadow: -4vmin 0 1.3230563183418245vmin currentColor;
}
.background span:nth-child(7) {
    color: #ffffff;
    top: 100%;
    left: 42%;
    animation-duration: 255s;
    animation-delay: -190s;
    transform-origin: 19vw 24vh;
    box-shadow: -4vmin 0 0.9318101745875369vmin currentColor;
}
.background span:nth-child(8) {
    color: #ffffff;
    top: 37%;
    left: 22%;
    animation-duration: 216s;
    animation-delay: -220s;
    transform-origin: -10vw -24vh;
    box-shadow: -4vmin 0 1.413437441157555vmin currentColor;
}
.background span:nth-child(9) {
    color: #c23838;
    top: 68%;
    left: 7%;
    animation-duration: 240s;
    animation-delay: -75s;
    transform-origin: 4vw -7vh;
    box-shadow: -4vmin 0 0.673550235723976vmin currentColor;
}
.background span:nth-child(10) {
    color: #ffffff;
    top: 16%;
    left: 35%;
    animation-duration: 12s;
    animation-delay: -127s;
    transform-origin: -14vw 2vh;
    box-shadow: 4vmin 0 0.6955608742036994vmin currentColor;
}
.background span:nth-child(11) {
    color: #c23838;
    top: 30%;
    left: 91%;
    animation-duration: 121s;
    animation-delay: -2s;
    transform-origin: 20vw -21vh;
    box-shadow: -4vmin 0 0.502774352978204vmin currentColor;
}
.background span:nth-child(12) {
    color: #c23838;
    top: 80%;
    left: 86%;
    animation-duration: 44s;
    animation-delay: -216s;
    transform-origin: 10vw -20vh;
    box-shadow: 4vmin 0 1.0672528986953047vmin currentColor;
}
.background span:nth-child(13) {
    color: #ffffff;
    top: 55%;
    left: 73%;
    animation-duration: 59s;
    animation-delay: -46s;
    transform-origin: 11vw 0vh;
    box-shadow: -4vmin 0 0.8982088181949301vmin currentColor;
}
.background span:nth-child(14) {
    color: #ffffff;
    top: 52%;
    left: 87%;
    animation-duration: 240s;
    animation-delay: -116s;
    transform-origin: 17vw 17vh;
    box-shadow: -4vmin 0 1.3311838885946612vmin currentColor;
}
.background span:nth-child(15) {
    color: #c47373;
    top: 88%;
    left: 46%;
    animation-duration: 247s;
    animation-delay: -134s;
    transform-origin: -11vw -8vh;
    box-shadow: 4vmin 0 0.9477020983991138vmin currentColor;
}
.background span:nth-child(16) {
    color: #ffffff;
    top: 7%;
    left: 45%;
    animation-duration: 222s;
    animation-delay: -270s;
    transform-origin: 19vw -2vh;
    box-shadow: 4vmin 0 1.4126941288852788vmin currentColor;
}
.background span:nth-child(17) {
    color: #ffffff;
    top: 48%;
    left: 56%;
    animation-duration: 34s;
    animation-delay: -30s;
    transform-origin: -17vw -15vh;
    box-shadow: -4vmin 0 0.5386264391202198vmin currentColor;
}
.background span:nth-child(18) {
    color: #c23838;
    top: 48%;
    left: 97%;
    animation-duration: 207s;
    animation-delay: -239s;
    transform-origin: 4vw -20vh;
    box-shadow: 4vmin 0 1.3595816309934585vmin currentColor;
}
.background span:nth-child(19) {
    color: #c23838;
    top: 26%;
    left: 35%;
    animation-duration: 130s;
    animation-delay: -220s;
    transform-origin: 11vw 0vh;
    box-shadow: -4vmin 0 1.4956271879981655vmin currentColor;
}
/*Animation*/
@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}
@keyframes floatBottom {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }

}
/*Page Web*/
.Accueil {
    height: 100vh;
}
nav a {
    color: inherit;
    text-decoration: inherit;
}
nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    z-index: 999;
}
.home ul{
    list-style: none;
    background-color: #242424;
    padding: 15px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.home ul li{
    color: white;
    font-size: 1.5rem;
    border: #ad1328 3px solid;
    border-radius: 50%;
    padding: 13px;
    transition: 0.5s;
    

}
.home ul li:hover {
    border: white 3px solid;
}
.navigation ul li:hover {
    border-bottom: #ad1328 5px solid;
    border-radius: 5px;

}
.navigation ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 15px 60px 15px 60px;
    background-color: #242424;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: #ad1328 5px solid;
    border-right: none;
    transition: 0.5s;

}
.navigation ul:hover {
    border: white 5px solid;
    border-right: none;
}
.navigation ul li{
    padding: 10px 5px 10px 5px;
    font-size: 1.125rem;
    color: white;
    border: 5px solid transparent;
    transition: 0.5s;
    
}
.blocAndNav {
    position: relative;
    top: 20%;
}

.blocAccueil {
    display: flex;
    height: 40%;

}
.blocGauche{
    width: 60%;
    
}
.blocGauche h1 {
    position: relative;
    background-color: #242424;
    color: white;
    border-right: #ad1328 10px solid;
    font-size: 4rem;
    top: 30%;
    transform: translate(0,-50%);
    padding: 50px 10px 50px 50px;

}
.blocDroite {
    justify-content: center;
    width: 35%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    
}
.blocDroite img{
    width: 90%;
    position: relative;
    top: -10%;
    transform: translate(-50%,-50%);
    animation: float infinite alternate ease-in-out 4s;
}
.buttonNavigationAccueil {
    position: relative;
    top: -50px;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.buttonNavigationAccueil a{
    background-color: rgba(182, 182, 182, 0.2);
    text-decoration: none;
    font-size: 1.125rem;
    border-radius: 10px;
    color: white;
    border: solid 3px white;
    padding: 15px 70px 15px 70px;
    transition: 0.5s;
}
.buttonNavigationAccueil a:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
    transform: scale(1.125);
}
.informationDeplacement {
    position: fixed;
    width: fit-content;
    left: 50%;
    top: 95%;
    transform: translate(-50%,-50%);
    
}
.informationDeplacement p {
    font-size: 1rem;
    animation: floatBottom 4s infinite alternate ease-in-out;
}

/* Profil */
.Profil {
    height: 100vh;
}

.blocProfil {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: space-around;
}
.blocProfilGauche{
    width: 30%;
}
.blocProfilGauche h2{
    font-size: 3rem;

}
.blocProfilDroite{
    width: 40%;
}
.blocProfilDroite img {
    width: 100%;
    animation: float 4s ease-in-out infinite;
}
.listAnalogiesIntro {
    height: 100vh;
}
.ListAndIntro {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
}
.listAnalogiesIntroSelection {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.listAnalogiesIntroSelection ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.listAnalogiesIntroSelection ul li{
    width: 20%;
    text-align: center;
    list-style: none;
}
.listAnalogiesIntroSelection ul li a{
    color: inherit;
    text-decoration: inherit;
}
.listAnalogiesIntroSelection ul li img{
    width: 100%;
    transition: 0.3s;
}
.listAnalogiesIntroSelection ul li img:hover{
    width: 100%;
    scale: 1.1;
    background-color: gray;
    border-radius: 25px;
}
.listAnalogiesIntroTitre {
    width: fit-content;
    background-color: #242424;
    padding: 25px 100px 25px 50px;
    border-right: #ad1328 solid 5px;

}
.listAnalogiesIntroTitre h1 {
    font-size: 3rem;
    margin: 0;
}
.listAnalogiesIntroTitre p {
    margin: 0;
}
.analogies_bloc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}
.analogies_explication {
    width: 30%;
    font-size: 1.8rem;
}
.analogies_explication p {
    font-size: 1.3rem;
}
.analogies_images {
    width: 40%;
}
.analogies_images img {
    width: 100%;
    animation: float infinite 4s ease-in-out;
    transition: 0.3s;
}
.analogies_bloc:nth-child(odd) {
    flex-direction: row-reverse;
}
.rouge {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #ad1328;
    color: rgba(0, 0, 0, 0.0);
}

.formulaireText {
    width: fit-content;
}
.formulaireText h1{
    margin: 0 auto;
    color: white;
    font-size: 3rem;
}
form {
    color: white;
    width: fit-content;
    background-color: #242424;
    padding: 30px;
    border-radius: 10px;

}
form h1 {
    font-size: 1.75rem;
}
form .separation {
    width: 100%;
    height: 5px;
    background-color: #ad1328;
    border-radius: 2px;
}
form .corp-formulaire {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
form .corp-formulaire .groupe {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
form .corp-formulaire .gauche .groupe input{
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border-radius: 5px;
    border: inherit;

}
form .corp-formulaire .gauche .groupe input:focus{
    outline-color: #ad1328;

}


form .corp-formulaire .gauche .groupe i{
    position: absolute;
    left: 0;
    top :25px;
    color: #ad1328;
    padding: 9px 8px;
}

form .corp-formulaire .droite {
    margin-left: 40px;
}
form .corp-formulaire .droite .groupe{
    height: 100%;
}
form .corp-formulaire .droite .groupe textarea{
    margin-top: 5px;
    padding: 10px;
    background-color: #d4d4d4;
    border: 2px solid white;
    outline: none;
    border-radius:5px ;
    resize: none;
    height: 83%;
}
form .pied-formulaire {
    text-align: center;
}
form .pied-formulaire button {
    margin-top: 10px;
    background-color: #ad1328;
    color:white ;
    font-size: 0.9735rem;
    border: none;
    padding: 10px 20px;
    border-radius:5px ;
    outline: none;
    transition: transform 0.5s;

}

form .pied-formulaire button:hover {
    transform: scale(1.05);
    
    
}
form .corp-formulaire .droite .groupe i{
    position: absolute;
    left: 55%;

}
/* mise en forme des champs input obligatoires */
input:required, textarea:required{
    outline: 1px solid #bd0101;     
} 

/* mise en forme des champs input obligatoires qui deviennent valides*/
input:required:valid, textarea:required:valid{
    outline: 1px solid #1a961a;
    
}
.required {
    color: #ad1328;
}
@media screen and (max-width:920px){
    form .corp-formulaire .droite {
        margin-left: 0px;
    }
}
.formulaire {
    height: 100vh;
}
.blocFormulaire {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blocFooter a{
    color: #ffffff;
}
.blocFooterTitre {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
}
.blocFooter {
    min-height: 75vh;
    background-color: #242424;
    border-top: #ad1328 solid 5px;
    border-left: solid 5px #ad1328;
    border-right: solid 5px #ad1328;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.blocFooterDroite {
    width: 25%;
}
.blocFooterCentre {
    width: 25%;
}
.blocFooterGauche {
    width: 25%;
}

/*Curseur de la souris*/
.cursor {
    z-index: 6;
    width:40px ;
    height: 40px;
    border: 1px dashed white;
    border-radius:50% ;
    position: absolute;
    pointer-events: none;
    animation : Anime1 1s infinite alternate ease-in-out;
}

.cursor::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 10px;
    background-color: #ad1328;
    border-radius: 50%;
}
.expand {
    animation: Anime2 0.5s;
    background-color: #ad1328;
    border: 1px solid #ad1328;
}
@keyframes Anime1 {
    form {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(0.7) rotate(90deg);
    }
}
@keyframes Anime2 {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}

.Lune {
    position: fixed;
    bottom: -160px;
    left: -140px;
}